:root {
  --color-white: rgb(255, 255, 255);
  --color-accent1: rgb(239, 131, 84);
  --color-accent2: rgb(79, 93, 117);
  --color-text-color: rgb(188, 193, 207);
  --main-bg-color: rgb(37, 39, 49);
  --icon-size: 1.5rem;
  --icon-size-desktop: 1.5vw;
  --font-text-headers: 1.5rem;
  --font-text-article: 1rem;
  --font-text-bigheaders: 2.3rem;
  --font-text-desktop-headers: 1.1vw;
  --font-text-desktop-article: 0.85vw;
  --font-text-desktop-bigheaders: 1.5vw;
}

html {
  height: 100%;
}

body {
  background-color: var(--main-bg-color);
  color: var(--color-white);
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
.nav-link {
  color: var(--color-white) !important;
  font-size: var(--font-text-bigheaders);
}

h4,
h5,
h6 {
  color: var(--color-accent1);
  font-size: var(--font-text-headers);
}

p,
footer {
  color: var(--color-text-color);
  font-size: var(--font-text-article);
}

hr {
  height: 1px;
  background-color: rgb(188, 193, 207, 0.1);
  border: none;
}

.navbar {
  background-color: var(--main-bg-color) !important;
  font-size: var(--font-text-headers);
}

.white-font {
  color: var(--color-white);
  font-size: var(--font-text-headers);
}

.fas {
  color: var(--color-accent1);
  font-size: var(--icon-size);
}

.copyright {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Portfolio Page */
#demo {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.thumb {
  margin-bottom: 30px;
}

.page-top {
  margin-top: 85px;
}

img.zoom {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.transition {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.modal-header {
  border-bottom: none;
}
.modal-title {
  color: #000;
}
.modal-footer {
  display: none;
}

/* Mobile */
@media only screen and (max-width: 767.999px) {
  .left-container {
    position: relative;
    width: 100%;
    background-color: var(--main-bg-color);
  }

  .image-left {
    height: 85vh;
    width: 100%;
  }

  .right-container {
    position: relative;
  }

  #navbarIndex {
    display: none;
  }

  #burgerID {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0); /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }

  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }

  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: var(--color-white);
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }

  /* When you mouse over the navigation links, change their color */
  .overlay a:hover,
  .overlay a:focus {
    color: var(--color-accent1);
  }

  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
  }

  .servicesboxes {
    min-width: 100%;
  }
}

/* Desktop */
@media only screen and (min-width: 768px) {
  /* font*/
  p {
    font-size: var(--font-text-desktop-article);
    line-height: 1.6;
  }

  h1 {
    font-size: var(--font-text-desktop-bigheaders);
  }

  .navbar,
  .white-font,
  .nav-item > a,
  h4 {
    font-size: var(--font-text-desktop-headers);
  }

  .container-fluid {
    position: absolute;
    height: 100%;
  }

  .row {
    height: 100%;
  }

  #myNav,
  #burgerID {
    display: none;
  }

  .left-container {
    width: 100%;
  }

  .navbar-expand-md,
  .navbar-nav,
  .nav-link {
    padding: 0 !important;
  }

  .image-left {
    height: 100%;
    width: 100%;
  }

  .right-container {
    height: 100%;
    overflow-y: auto;
  }

  section {
    margin-top: 100px;
  }

  /* Nav bar */

  nav {
    right: 10%;
  }

  .navbarDiv {
    margin-left: auto;
    margin-right: 0;
    margin-top: 50px;
    width: 50%;
  }

  #navbarIndex {
    animation: 0.5s linear 0s 1 slideInFromRight;
    visibility: visibile;
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    75% {
      visibility: visible;
    }
    100% {
      transform: translateX(0);
      visibility: visible;
    }
  }

  .fas {
    animation: 0.5s linear 0s 1 slideInFromBottom;
    visibility: visibile;
  }

  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    75% {
      visibility: visible;
    }
    100% {
      transform: translateY(0%);
      visibility: visible;
    }
  }

  .navbar-nav {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  .active {
    border-bottom: 5px solid var(--color-accent1);
  }

  .active > a {
    color: var(--color-accent1) !important;
  }

  .nav-item:hover {
    border-bottom: 5px solid var(--color-accent1);
  }

  /* navbar end */

  .about-me,
  .services,
  .my-skills,
  .footer-section,
  .projects,
  .contact-me,
  hr {
    margin-left: 100px;
    margin-right: 100px;
  }

  .fas {
    font-size: var(--icon-size-desktop);
  }
}
