:root {
  --color-white: rgb(255, 255, 255);
  --color-accent1: rgb(239, 131, 84);
  --color-accent2: rgb(79, 93, 117);
  --color-text-color: rgb(188, 193, 207);
  --main-bg-color: rgb(37, 39, 49);
  --font-text-article: 2em;
}

html {
  height: 100%;
}

body {
  background-color: var(--main-bg-color);
  color: var(--color-white);
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, .nav-link {
  color: var(--color-white) !important;
}

h4, h5, h6 {
  color: var(--color-accent1);
}

p, footer {
  color: var(--color-text-color);
  font-size: var(--font-text-article);
}

hr {
height: 1px;
background-color: rgb(188, 193, 207, 0.1);
border: none;
}

.navbar {
  background-color: var(--main-bg-color) !important;

}

.navlink-address, .nav-link:hover {
  color: var(--color-accent1) !important;
}

.copyright {
  font-family: Arial,
       "Helvetica Neue",
       Helvetica,
       sans-serif;
}

.white-font {
  color: var(--color-white);
}

.fas {
  color: var(--color-accent1);
}

.servicesboxes {
  border: solid .2px rgb(188, 193, 207, 0.1);
}

/* Mobile */
@media only screen and (max-width: 767.999px) {
  .left-container {
    position: relative;
    width: 100%;
    background-color: var(--main-bg-color);
  }

  .image-left {
    height: 100vh;
    width: 100%;
  }

  .right-container {
    position: relative;
  }

  #navbarIndex {
    display: none;
  }

  #burgerID {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0); /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }

  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }

  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: var(--color-white);
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }

  /* When you mouse over the navigation links, change their color */
  .overlay a:hover,
  .overlay a:focus {
    color: var(--color-accent1);
  }

  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
  }

  .servicesboxes {
    min-width: 100%;
  }
  
}


/* Desktop */
@media only screen and (min-width: 768px) {
  .container-fluid {
    position: absolute;
    height: 100%;
  }

  .row {
    height: 100%;
  }

  #myNav,
  #burgerID {
    display: none;
  }

  .left-container {
    width: 100%;
  }

  .image-left {
    height: 100%;
    width: 100%;
  }

  .right-container {
    height: 100%;
    overflow-y: auto;
  }


  /* Nav bar */

  .navbarDiv {
    margin-left: auto;
    margin-right: 0;
    width: 50%;
  }

  #navbarIndex {
    animation: 0.5s linear 0s 1 slideInFromRight;
    visibility: visibile;
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    75% {
      visibility: visible;
    }
    100% {
      transform: translateX(0);
      visibility: visible;
    }
  }

  .navbar-nav > li {
    float: left;
    position: relative;
  }

  .nav-link:hover {
    color: var(--color-accent1);
  }

  .active > a::after {
    position: absolute;
    bottom: 0;
    left: 35%;
    width: 30%;
    content: " ";
    color: var(--color-blue);
    border-bottom: 5px solid var(--color-accent1);
  }

  .nav-item > a:hover::after {
    position: absolute;
    bottom: 0;
    left: 35%;
    width: 30%;
    content: " ";
    height: 2px;
    pointer-events: none;
    color: var(--color-blue);
    border-bottom: 5px solid var(--color-accent1);
  }
}
