html {
  height: 100%;
}

body {
  background-color: #191919;
  color: white;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Mobile */
@media only screen and (max-width: 767.999px) {
  .left-container {
    position: relative;
    width: 100%;
    background-color: #464646;
  }

  .image-left {
    height: 100vh;
    width: 100%;
  }

  .right-container {
    position: relative;
  }

   .fixedNav {
    position: absolute;
    top: 0;
    right: 0;
  } 
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .container-fluid {
    position: absolute;
    height: 100%;
  }

  .row {
    height: 100%;
  }

  .left-container {
    width: 100%;
    background-color: #464646;
  }

  .image-left {
    height: 100%;
    width: 100%;
  }

  .right-container {
    height: 100%;
  }

  .navlink-address {
    color: orangered;
  }

  .active a:after {
    content: "";
    height: 2px;
    background: orangered;
    display: block;
    margin-top: 2px;
  }
}
