:root {
  /* Colors */
  --color-white: rgb(221, 221, 221);
  --color-white2: #ffffff;
  --color-black: rgb(22, 23, 26);
  --color-light-black: rgb(56, 56, 56);
  --color-lighter-black: rgb(100, 100, 100);
  --color-accent1: rgb(230, 156, 29);

  /* Fonts */
  --cursive-font: 'Lobster', cursive;
  --sidebar-font: 'Open Sans', sans-serif;
  --splash-font: 'Work Sans', sans-serif;

  /* MEDIUM SCREENS */
  /* Font sizes medium screens */
  --splash-size: 1.8vw;
  --home-font-size: 1.3em;
  --footer-small-size: .8em;
  --content-font-size: 1.3vw;
  --content-num-size: 5vw;

  /* Font weight */
  --weight-hard: 600;
  --weight-hardest: 800;

  /* Icon sizes medium secreens */
  --service-icons: 2em; 

  /*LARGE SCREENS */
  /*Font size */
  --large-sidebar-font: 1.4vw;
  --large-content-font: 1.5vw;
  --large-sidebar-icons: 1.5vw;
  --large-h1-size: 3.5vw;
  --large-h4-size: 2.8vw;

}  

html {
	scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--sidebar-font);
}

p {
  color: var(--color-lighter-black);
  font-family: var(--sidebar-font);
  font-size: var(--content-font-size);
  font-weight: var(--weight-hard);
}

h1 {
  font-family: var(--splash-font);
}

.orange {
  color: var(--color-accent1);
}

/* Service Section */
.serviceTitle {
  color: var(--color-accent1);
  font-family: var(--cursive-font);
}

/* end */

/* footer */
footer {
  font-size: var(--footer-small-size);
  text-align: center;
  font-weight: var(--weight-hard);
}

footer > span {
  color: var(--color-accent1);
}
/* end */

/* DESKTOP */

@media screen and (min-width: 768px) {
  body, html, #root, #app {
    height: 600vh;
  }
  /* SIDEBAR */
  .wrapper {
    display: flex;
    float: left;
    min-height: 100vh;
    width: 250px;
    position: sticky;
    top: 0;
  }

  #sidebar {
    display: flex;
    min-height: 100vh;
    flex-flow: column;
    width: 250px;
    min-height: 100vh;
    background: var(--color-black);
    color: var(--color-white);
    }

  #sidebarIMG > img {
    height: 30vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 2em;
    border-radius: 10px;
    border: 3px solid var(--color-white);
  }

  #myName {
    font-family: var(--cursive-font);
    font-size: 2em;
    width: 100%;
    text-align: center;
  }

  #firstName {
    display: inline-block;
    color: var(--color-white);
  }

  #lastName {
    display: inline-block;
    color: var(--color-accent1);
  }

  #sidebar > hr {
    height: 5px;
    color: var(--color-white);    
    background-color: var(--color-white);
    width: 80%;
  }

  #sidebarItems {
    flex: 1 1 auto;
    display: flex;
    width: 100%;
  }

  #sidebarItems > ul {
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
  }
  
  #sidebarItems > ul > li {
    padding-left: 10%;
    font-family: var(--sidebar-font);
    font-size: 1.3em;
    font-weight: 800;
  }

  #sidebarItems > ul > li > a {
    color: var(--color-accent1); 
  }

  #sidebarIcons {
    margin-left: 10%;
  }

  #sidebarIcons > svg {
    font-size: var(--home-font-size);
    margin-right: 40px;
  }

  .components > li {
    position: relative;
  }

  #active {
    color: var(--color-white) !important;
    text-decoration: underline var(--color-accent1);  
    text-underline-position: under;
    text-underline-offset: 3px;
  }
 
    /* END */

    .App > section {
      margin-left: 250px;
    }

    .contentDiv, section {
      height: 100vh;
    }

    /* Home Section */
    #splashPage, #leftside, #rightside {
      width: 100vw;
      height: 100vh;
    }

    #splashPage {
      background-color: var(--color-black);
      font-size: var(--home-font-size);
      position: relative;
    }

    #leftside {
      background-color: var(--color-black);
      float: left;
      width: 50vw;
      height: 100vh;
    }

    #logo {
      width: 1.7em;
      height: 1.7em;
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 20px;
    }


    #rightside {
      background-color: var(--color-accent1);
      float:right;
      width: 50vw;
      height: 100vh;
    }

    #leftside > p, #rightText > p {
      font-family: var(--splash-font) !important;
      font-size: var(--splash-size);
      font-weight: 500;
    }

    #leftside > p {
      font-weight: bold;
      text-align: right;
      padding-top: 30vh;
      padding-right: 50px;
      color: var(--color-accent1) !important;
    }

    #rightText {
      padding-top: 30vh;
    }

    #rightText > P {
      padding-left: 50px;
      color: var(--color-black) !important;
      font-weight: bold;
    }

    .emphasisWord, .myName {
      font-weight: bold;
      font-family: var(--cursive-font) !important;
      text-transform: capitalize;
    }

    #lastName {
      color: var(--color-white);
    }
  
    /* arrow in Splash */
    .arrow-container {
      display: block;
      width: 60px;
      height: 60px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    .arrow-container:hover {
      cursor: pointer;
    }
    .arrow-container:hover .arrow {
      top: 50%;
    }
    .arrow-container:hover .arrow:before {
      transform: translate(-50%, -50%) rotateZ(-30deg);
    }
    .arrow-container:hover .arrow:after {
      transform: translate(-50%, -50%) rotateZ(30deg);
    }
    
    .arrow {
      position: absolute;
      left: 50%;
      transition: all 0.4s ease;
    }
    .arrow:before, .arrow:after {
      transition: all 0.4s ease;
      content: "";
      display: block;
      position: absolute;
      transform-origin: bottom right;
      background: #fff;
      width: 4px;
      height: 50px;
      border-radius: 10px;
      transform: translate(-50%, -50%) rotateZ(-45deg);
    }
    .arrow:after {
      transform-origin: bottom left;
      transform: translate(-50%, -50%) rotateZ(45deg);
    }
    .arrow:nth-child(1) {
      opacity: 0.3;
      top: 35%;
    }
    .arrow:nth-child(2) {
      opacity: 0.6;
      top: 55%;
    }
    .arrow:nth-child(3) {
      opacity: 0.9;
      top: 75%;
    }
    /* end */

    /* About me */

    #aboutme {
      position: relative;
      background-color: var(--color-white2);
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 20% 50% 30%;
      grid-template-areas: 
        "title"
        "middleContent"
        "bottomContent";
    }

    #aboutme > p {
      color:rgb(22, 23, 26);
    }

    #aboutBG {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }  

    #aboutBG > p {
      opacity: 0.05;
      text-transform: uppercase;
      font-size: 30vh;
    }

    #aboutTitle {
      grid-area: title;
      text-align: center;
      display:flex;
      align-items: center;
      justify-content: center;
    }

    #aboutTitle > h1 {
      font-size: 3em;
      font-weight: 800;
      display: inline-block;
      padding-bottom: 5px;
      position: relative;
    }

    #aboutTitle > h1:before {
      content: "";
      position: absolute;
      width: 50%;
      height: 1px;
      bottom: 0;
      left: 25%;
      border-bottom: 2px solid rgb(167, 167, 167);
  }

    #middleContent {
      grid-area: middleContent;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 70% 30%;
      grid-template-areas: "meContent meStats";

    }

    #meContent {
      grid-area: meContent;
    }

    #middleContent > div, #bottomContent > div {
      padding-left: 50px;
    }

    #meStats {
      grid-area: meStats;
    }

    #meStats > hr {
      color: var(--color-white);    
      background-color: var(--color-white);
      opacity: 0.25;
      width: 150px;
      margin-left: 0px;
    }

    .myButton {
      box-shadow:inset 0px 1px 0px 0px #fce2c1;
      background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
      background-color:#ffc477;
      border-radius:6px;
      border:1px solid #eeb44f;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #cc9f52;
    }
    .myButton:hover {
      background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
      background-color:#fb9e25;
    }
    .myButton:active {
      position:relative;
      top:1px;
    }
    

    #bottomContent{
      padding-bottom: 50px;
      grid-area: bottomContent;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 35% 35% 30%;
      grid-template-areas: "education experience projectsNum";
    }

    #education {
      grid-area: education;
    }

    #education > p {
      font-size: 1.2vw;
    }

    #experience {
      grid-area: experience;
    }

    #experience > p, #projectsNum > p {
      font-size: 1.8vw;
    }

    #projectsNum {
      grid-area: projectsNum;
    }
    /* end */

    /* Services */
    
    .serviceicons {
      color: var(--color-accent1);
      font-size: var(--service-icons);
    }

    .servicesboxes {
      margin-left: 50px;
      margin-top: 50px;
    }

    /* end */

    /* Skills */
    #skills {
      background-color: red;
    }

    /* end */

    /* Portfolio */
    #portfolio {
      max-height: 95vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 10px;
      row-gap: 15px;
      margin-top: 50px;
    }

    .cardGroup {
      width: 80%;
      justify-self: center;
    }

    .card-img-top {
      width: 100%;
      height: 100px;
    }

    .cardButtons {
      display: flex;
      justify-content: center;
    }

    .cardButtons > button {
      margin: 0 1.5em 0 1.5em;
    }
    
    /* end */



    /* Contact */

    #contact {
      width: 100%;
      height: 100vh;
      background-color: #E9E9E9;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    #contactBody{
      width: 95%;
      height: 95%;
      margin: 0 auto;
      background-color: white;
      border: 1px solid rgb(252, 252, 252);
      border-radius: 6px;
      box-shadow: 2px 1px 6px #000;
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: auto;
      grid-template-areas: 
      "contactHeader contactContent"
    }

    #contactHeader {
      grid-area: contactHeader;
    }

    #contactHeader > p {
      font-size: 3vw;
      text-align: center;
      margin-top: 50px;
    }

    #contactContent {
      grid-area: contactContent;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: 30% 60% 10%;
      grid-template-areas:
      "contactName contactEmail"
      "contactMsg contactMsg"
      ". contactSubmit"
    }

    #contactContent > div {
      margin-top: 50px;
    }

    #contactName {
      grid-area: contactName;
    }

    #contactEmail {
      grid-area: contactEmail;
    }

    #contactName > input, #contactEmail > input, #contactMessage > input {
      width: calc(100% - 20px);
    }

    .contactContent {
      font-size: 1.5vw;
    }

    #contactMessage {
      grid-area: contactMsg;
      width: 100%;
      height: 100%;
    }
    #contactMessage > input {
      height: 80%;
    }

    #contactSubmit {
      grid-area: contactSubmit;
      display:flex;
      justify-content: flex-end;
    }

    #contactSubmit > input {
      width: 50%;
      right: 0;
      margin-right: 20px;
    }

    /* Footer */
    footer {

    }

    /* end */

}

@media screen and (min-width: 1600px) {
  p {
    font-size: var(--large-content-font);
  }

  h1 {
    font-size: var(--large-h1-size) !important;
  }

  h4 {
    font-size: var(--large-h4-size);
  }

  #logo{
    width: 2.5vw;
    height: 2.5vw;
    margin-left: 15px;
  }

  /*  Sidebar */
  .wrapper, #sidebar {
    width: 300px;
  }

  #myName {
    font-size: 2vw;
  }

  li > a {
    font-size: var(--large-sidebar-font);
  }

  #sidebarIcons {
    font-size: var(--large-sidebar-icons);
  }

  /* end */

  /* about me */
  #meStats > hr {
    width: 300px;
  }

  /* end */

}
