body {
    overflow-y: hidden;
}

.left-container {
    width: 50vw;
}

.navbarDiv {
    grid-area: navbar;
}

.homeDiv {
    grid-area: home;
}

.servicesDiv {
    grid-area: services;
}

.skillsDiv {
    grid-area: skills;
}

.portfolioDiv {
    grid-area: portfolio;
}

.contactDiv {
    grid-area: contact;
}

.right-container {
    width: 50vw;
    float: right;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: auto;
    grid-template-areas: 
    "navbar navbar navbar navbar navbar"
    "home services skills portfolio contact "
}

.contentDiv {
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "home services skills portfolio contact "
}

.right-container section {
    width: 50vw;
    scroll-snap-align: start;
}

.myPic {
    height: 100vh;
}